# generate dummy look-alike data

In [23]:
import pandas as pd
pd.set_option('expand_frame_repr', False)
look_at_first = pd.DataFrame({
    'Task':['10','10','10','10','20','20','20'],
    'Task_TaskName':['010 Project Mgmt','010 Project Mgmt','010 Project Mgmt','010 Project Mgmt','020 Project Mgmt','020 Project Mgmt','020 Project Mgmt'],
    'Employee/Supplier':['blogs, fred','harris, bill','xxx, pete','yyy, sue','ppp, chris','ttt, jane','eee, jim'],
    'Dec-20':[2,0,0,3,2,1,4],
    'Jan-21':[5,1,0,5,2,2,3]
})

In [24]:
look_at_first

  Task     Task_TaskName Employee/Supplier  Dec-20  Jan-21
0   10  010 Project Mgmt       blogs, fred       2       5
1   10  010 Project Mgmt      harris, bill       0       1
2   10  010 Project Mgmt         xxx, pete       0       0
3   10  010 Project Mgmt          yyy, sue       3       5
4   20  020 Project Mgmt        ppp, chris       2       2
5   20  020 Project Mgmt         ttt, jane       1       2
6   20  020 Project Mgmt          eee, jim       4       3

In [25]:
look_at_first.Task.unique()

array(['10', '20'], dtype=object)

Column A                      Columns 6 - 17
010                              Jan    Feb    March    April..
last, first                        4
last, first                                            4
...                                  ....
020                              Jan    Feb    March    April..
last, first                      4
last, first                                   4
...
030                              Jan    Feb    March    April..
last, first                         4
last, first                                                           4
...

In [32]:
for task in look_at_first.Task.unique():
    print(task)
    this_task = look_at_first[look_at_first["Task"]==task]
    for index, row in this_task.iterrows():
        #print(row[["Employee/Supplier", "Dec-20", "Jan-21"]])
        print(row["Task_TaskName"], row["Employee/Supplier"], row["Dec-20"], row["Jan-21"])

10
010 Project Mgmt blogs, fred 2 5
010 Project Mgmt harris, bill 0 1
010 Project Mgmt xxx, pete 0 0
010 Project Mgmt yyy, sue 3 5
20
020 Project Mgmt ppp, chris 2 2
020 Project Mgmt ttt, jane 1 2
020 Project Mgmt eee, jim 4 3