In [11]:
"""from IPython.display import display, HTML
import chart_studio.plotly as py  # pip install & replace plotly.plotly
import plotly.graph_objs as go
import plotly
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import cufflinks as cf # pip install
cf.set_config_file(offline=True)"""

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import math


pd.set_option("display.max_columns", None)
pd.options.display.width = 0

In [14]:
hbk = pd.read_csv("hotel_bookings.csv")

In [13]:
hbk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29674 entries, 0 to 29673
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           29674 non-null  object
 1   is_canceled                     29674 non-null  int64
 2   lead_time                       29674 non-null  int64
 3   arrival_date_year               29674 non-null  int64
 4   arrival_date_month              29674 non-null  object
 5   arrival_date_week_number        29674 non-null  int64
 6   arrival_date_day_of_month       29674 non-null  int64
 7   stays_in_weekend_nights         29674 non-null  int64
 8   stays_in_week_nights            29674 non-null  int64
 9   adults                          29674 non-null  int64
 10  children                        29674 non-null  int64
 11  babies                          29674 non-null  int64
 12  meal                            29674 non-null  object
 13  country                         29213 non-null  object
 14  market_segment                  29674 non-null  object
 15  distribution_channel            29674 non-null  object
 16  is_repeated_guest               29674 non-null  int64
 17  previous_cancellations          29674 non-null  int64
 18  previous_bookings_not_canceled  29673 non-null  float64
 19  reserved_room_type              29673 non-null  object
 20  assigned_room_type              29673 non-null  object
 21  booking_changes                 29673 non-null  float64
 22  deposit_type                    29673 non-null  object
 23  agent                           23507 non-null  float64
 24  company                         2375 non-null   float64
 25  days_in_waiting_list            29673 non-null  float64
 26  customer_type                   29673 non-null  object
 27  adr                             29673 non-null  float64
 28  required_car_parking_spaces     29673 non-null  float64
 29  total_of_special_requests       29673 non-null  float64
 30  reservation_status              29673 non-null  object
 31  reservation_status_date         29673 non-null  object
dtypes: float64(8), int64(12), object(12)
memory usage: 7.2+ MB

In [16]:
hbk.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,29674.000000,29674.000000,29674.000000,29674.000000,29674.000000,29674.000000,29674.000000,29674.000000,29674.000000,29674.000000,29674.000000,29674.000000,29673.00000,29673.000000,23507.000000,2375.000000,29673.000000,29673.000000,29673.000000,29673.000000
mean,0.374503,97.709139,2015.880164,28.380164,15.836962,1.198221,3.150266,1.875514,0.131529,0.013412,0.048864,0.137157,0.18350,0.262562,214.283277,224.758316,0.593604,94.710761,0.123715,0.562532
std,0.484002,99.453338,0.652820,13.401713,8.876748,1.142879,2.443035,0.764929,0.453538,0.116490,0.215588,1.549656,1.14728,0.693375,84.134223,115.213631,7.899029,60.447551,0.336551,0.782626
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,12.000000,2015.000000,18.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,208.000000,135.000000,0.000000,50.150000,0.000000,0.000000
50%,0.000000,65.000000,2016.000000,30.000000,16.000000,1.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,240.000000,223.000000,0.000000,75.750000,0.000000,0.000000
75%,1.000000,162.000000,2016.000000,39.000000,24.000000,2.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,242.000000,292.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,2.000000,1.000000,26.000000,30.00000,17.000000,531.000000,543.000000,150.000000,508.000000,8.000000,5.000000

In [17]:
print(hbk["country"])

0        PRT
1        PRT
2        GBR
3        GBR
4        GBR
        ...
29669    DEU
29670    DEU
29671    FRA
29672    GBR
29673    MDV
Name: country, Length: 29674, dtype: object

In [15]:
hbk

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0,0,BB,PRT,Direct,Direct,0,0,0.0,C,C,3.0,No Deposit,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,01-07-15
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0,0,BB,PRT,Direct,Direct,0,0,0.0,C,C,4.0,No Deposit,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,01-07-15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0,0,BB,GBR,Direct,Direct,0,0,0.0,A,C,0.0,No Deposit,NaN,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,02-07-15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0,0,BB,GBR,Corporate,Corporate,0,0,0.0,A,A,0.0,No Deposit,304.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,02-07-15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0,0,BB,GBR,Online TA,TA/TO,0,0,0.0,A,A,0.0,No Deposit,240.0,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,03-07-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29669,Resort Hotel,0,43,2016,October,45,31,1,2,2,0,0,BB,DEU,Online TA,TA/TO,0,0,0.0,A,A,0.0,No Deposit,240.0,NaN,0.0,Transient-Party,42.6,0.0,2.0,Check-Out,03-11-16
29670,Resort Hotel,0,43,2016,October,45,31,1,2,2,0,0,BB,DEU,Online TA,TA/TO,0,0,0.0,A,A,0.0,No Deposit,240.0,NaN,0.0,Transient-Party,42.6,0.0,2.0,Check-Out,03-11-16
29671,Resort Hotel,0,162,2016,November,45,1,0,2,2,0,0,BB,FRA,Online TA,TA/TO,0,0,0.0,E,E,0.0,No Deposit,240.0,NaN,0.0,Transient,55.8,0.0,2.0,Check-Out,03-11-16
29672,Resort Hotel,0,3,2016,October,45,31,1,2,2,0,0,BB,GBR,Online TA,TA/TO,0,0,0.0,E,E,0.0,No Deposit,240.0,NaN,0.0,Transient,80.0,0.0,1.0,Check-Out,03-11-16
29673,Resort Hotel,0,1,2016,October,45,30,2,2,2,0,0,BB,MDV,Online TA,TA/TO,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
null_data = hbk[hbk.isnull().any(axis=1)]
null_data

In [ ]:
hbk.isnull().any(axis=1).sum()

In [ ]:
hbk.columns[hbk.isnull().any()]

In [ ]:
week_groups = hbk.groupby([hbk['arrival_date_year'],hbk['arrival_date_week_number']]
                          )['hotel'].count()
week_groups

In [ ]:
week_groups.iplot(kind='line',legend=None)

In [ ]:
week_means = hbk.groupby([hbk['arrival_date_year'],hbk['arrival_date_week_number']]
                          )['days_in_waiting_list'].mean()
week_means

In [ ]:
week_means.iplot(kind='bar',legend=None, title="My new chart")

In [ ]:
hbk.groupby("is_repeated_guest")['previous_cancellations'].mean().iplot(kind='bar')

In [ ]:
arrivals = hbk[['hotel', 'is_canceled', 'lead_time', 'arrival_date_year', 'arrival_date_week_number']]
arrivals

In [ ]:
hotel_values = arrivals.hotel.unique()
hotel_values

In [ ]:

graph_df = arrivals.groupby(by="arrival_date_week_number").mean()["lead_time"]
graph_df.iplot(kind='scatter', title="Andy's example")

In [ ]:
week_groups.plot(kind='line',legend=None, xlim=None, ylim=(300,600))

In [ ]:
week_groups

In [ ]:

g = arrivals.groupby('arrival_date_week_number')
arrivals = hbk[['arrival_date_year', 'arrival_date_week_number']]
arrivals.sort_values(['arrival_date_year', 'arrival_date_week_number'])
arrivals['sequence']=arrivals.groupby('arrival_date_year').cumcount()

In [ ]:
week_groups

In [ ]:
g = arrivals.groupby('arrival_date_week_number')

In [ ]:
g.head()